{% extends "layout.html" %}
{% block content %}

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                           <center> <h1>ABOUT</h1> </center> 
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-heading">
                    <h2 class="entry-title">Bienvenue au Lycée d'excellence</h2>

                    <p>Votre avenir , notre priorité.</p>
                </div><!-- .about-heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="about-stories">
                    <h3>Notre Histoire</h3>

                    <p>Le Lycée d'excellence a été créé en 1978 par le décret N° 78.456 du 19 Mai 1978. Il a initialement été abrité
                            au Lycée Technique d’Industrie Maurice Delafosse pour l’année académique 1978-1979. C’est un Lycée d’EnseignementTechnique
                            et Général implanté au quartier Ndiarème Limamou Laye, en banlieue dakaroise. </p>

                    <p>Le lycée est construit sur une superficie de 40.000 m2 dont 12.450 m2 occupés par les bâtiments. </p>

                    <ul class="p-0 m-0 green-ticked">
                        <li>Cours du soir</li>
                        <li>Cours du renforcement</li>
                        <li>Apprendre par la pratique</li>
                    </ul><!-- .green-ticked -->
                </div><!-- .about-stories -->
            </div><!-- .col -->
 

            <div class="col-12 col-lg-6">
                <div class="about-values">
                    <h3>Nos Histoires</h3>

                    <p>Le reste est réservé aux routes, aux passages piétonniers, aux zones de parking et aux espaces verts. Le personnel
                    enseignant, pour les premières années, était constitué en grande majorité de coopérants français particulièrement dans l
                    es matières scientifiques et techniques. Il préparait les élèves aux baccalauréats des séries A, B, C, D, E, F1, F2, F3,
                    et F4. </p>

                    <p> En 1981, le Lycée d'excellence comptait 1.600 élèves, 112 professeurs et 64 membres de personnel non enseignant.</p>

                    <ul class="p-0 m-0 green-ticked">
                        <li>Cours du soir</li>
                        <li>Cours du renforcement</li>
                        <li>Apprendre par la pratique</li>
                    </ul><!-- .green-ticked -->
                </div><!-- .about-values -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    
    
    
    
    

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                        <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .testimonial-slider -->
    </section><!-- .testimonial-section -->


{% endblock content %}